body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

    font-family: 'Exo 2', sans-serif;
}

main {
    width: 300px;
    height: 400px;

    border-radius: 10px 10px 20px 10px;

    display: grid;
    grid-template-rows: 20% 80%;

    background-color: #c7c1be;

}

#display {
    grid-row: 1/2;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px 5px 10px 5px;
    
    margin: 10px;

    background-color: #908b91;;
}

#led-display {
    box-sizing: border-box;
        
    width: 15px;
    height: 15px;

    border: 2px solid #2b2a2d;
    border-radius: 50%;

    margin-right: 5px;

    background-color: #ed4c6e;
}

#screen {
    height: 80%;
    width: 80%;

    border: 1px solid #2b2a2d;;

    margin-right: 15px;

    background-color: #6eae54;

    font-size: 35px;
}


#button-holder {
    grid-row: 2/3;

    box-sizing: border-box;
    
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;

    display: grid;
    grid-template-rows: 15% repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);

    background-color: black;
}

button {
    border: 1px solid black;
    border-radius: 5px;

    background-color: #2b2a2d ;
    color: #c7c1be;

    font-size: large;
}

.operator {
    background-color:#4c0094;
}

.number {
    background-color: #908b91;
    color: #2b2a2d;
}

.atention {
    background-color: #be0060;
    color: #2b2a2d ;
}

#on-off {
    grid-row: 1/2;
    grid-column: 1/2;
}

#clear {
    grid-row: 1/2;
    grid-column: 2/4;
}

#backspace {
    grid-row: 1/2;
    grid-column: 4/6;
}

#addition {
    grid-row: 2/3;
    grid-column: 4/5;
}

#subtraction {
    grid-row: 3/4;
    grid-column: 4/5;
}

#multiplication {
    grid-row: 4/5;
    grid-column: 4/5;
}

#division {
    grid-row: 5/6;
    grid-column: 4/5;
}

#percentage {
    grid-row: 2/3;
    grid-column: 5/6;
}

#gwv {
    grid-row: 3/4;
    grid-column: 5/6;

    background-color: #908b91;
    color: #2b2a2d ;
}

#result {
    grid-row: 4/6;
    grid-column: 5/6;
}

#negative {
    grid-row: 5/6;
    grid-column: 3/4;
}

#dot {
    grid-row: 5/6;
    grid-column: 2/3;
}

#number-one {
    grid-row: 4/5;
    grid-column: 1/2;
}

#number-two {
    grid-row: 4/5;
    grid-column: 2/3;
}

#number-three {
    grid-row: 4/5;
    grid-column: 3/4;
}

#number-four {
    grid-row: 3/4;
    grid-column: 1/2;
}

#number-five {
    grid-row: 3/4;
    grid-column: 2/3;
}

#number-six {
    grid-row: 3/4;
    grid-column: 3/4;
}

#number-seven {
    grid-row: 2/3;
    grid-column: 1/2;
}

#number-eight {
    grid-row: 2/3;
    grid-column: 2/3;
}

#number-nine {
    grid-row: 2/3;
    grid-column: 3/4;
}

#number-zero {
    grid-row: 5/6;
    grid-column: 1/2;
}
